{% extends "layout.html" %}
{% block content %}
		<h1>Reservations</h1>

		{% if reservations %}
			{% for reservation in reservations %}
                <h2>Reservation Created:</h2>
                <p>{{reservation.occasion}} </p>
				<p>{{reservation.date.strftime("%m/%d/%Y")}}</p>
                <p>{{reservation.package}} </p>
                <p>{{reservation.location}} </p>
                <p>{{reservation.addons}} </p>
 <a class="reservation-id" href="{{url_for('reservation', id=reservation.id)}}">
        <p><input class="btn btn-info" type="submit" value="Update Reservation" ></p>
         <form action="{{ url_for('delete_reservation', id=reservation.id) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete Reservation">
         </form>
 </a>
			{% endfor %}
		{% endif %}
       <p> <form action="{{ url_for('history')}}">
            <p> <input class="btn btn-success" type="submit" value="Finalize Reservation"></p>
        </form></p>

{% endblock %}
